.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
 /* header styles */
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 200px ;
  background-color: #008080;
}
nav ul{
  list-style: none;
}
.nav-title{
  color: rgb(24, 24, 24);
  font-family: "Azeret Mono", monospace;
  font-size: 45px;
  font-weight: 800px;
  letter-spacing: 0%;
  line-height: 20px;
}
.nav-title-style{
  color: rgb(253, 110, 10);
}
.btn-primary{
  background-color: rgb(253, 110, 10);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  transition: 1s;
}
.btn-primary a{
  text-decoration: none;
  color: #fff;
}
.btn-primary:hover{
  background-color: #008080;
}
/* header banner styles */
.banner{
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content{
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 221px;
}

.banner-title{
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  letter-spacing: 0%;
  padding-top: 50px;
  
}
.subtitle{
  color: rgba(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0%;
  line-height: 27px;
  padding: 40px 73px;
  opacity: 0.7;

}

.main{
  max-width: 1140px;
  margin: 0 auto;
}
/* about-web-dev styles */
.about-web-dev{
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  max-width: 1140px;
  margin: 100px 0px;
  padding: 80px 100px;
}
.title{
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0%;
  line-height: 27px;
  text-align: center;
  /* padding: 20px 0px; */
}
/* describe-web-dev-content styles */
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  gap: 98px;
  padding: 48px;
  max-width: 1000px;
  border-radius: 10px;
  margin: 48px 0px;
}

.web-dev-content{
  max-width: 480px;
  margin-left: 0px;
}
.content-bg{
  background: linear-gradient(270.00deg, rgba(255, 255, 255, 0), rgb(255, 255, 255) 100%);
}
.content-bg-middel{
  background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.web-dev-title{
  color: rgba(13, 19, 33, 0.7);
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  padding: 16px 48px 16px 0px;
}
.web-dev-subtitle{
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  color: rgb(13, 19, 33);
  margin: 16px 0px;
  opacity: 0.7;

}
.btn-secondery{
   border: 2px solid #008080;
   font-size: 20px;
   font-weight: 600;
   line-height: 23px;
   margin: 0px 10px;
   letter-spacing: 0%;
   padding: 12px 20px;
   background-color: #fff;

}
.btn-secondery a {
  text-decoration: none;
  color: rgb(13, 19, 33);
  

}
.container-img{
  width: 260px;
  height: 220px;
}
/* my-inspiration styles */
.my-inspiration{
  margin: 48px 0px;
}
.inspiration-content, .my-target-content{
  padding: 0px 145px;
  
}

/* my-target styles */
.my-target{
  margin: 0 auto;
  max-width: 1140px;

}
.target-container{
  margin: 100px 0px;

}
.target-items{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
}
.item{
  max-width: 365px;
  padding: 40px;
  border-radius: 10px;
  
}
.item-bg-1{
  background-color: #008080;
}
.item-bg-2{
  background-color: rgb(253, 110, 10);
}
.item-bg-3{
  background-color: #008080;
}
.item-title{
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin: 8px 0px;
}
.item-subtitle{
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  color: rgba(13, 19, 33);
  opacity: 0.7;

}
.btn-target-item{
  border: none;
  font-size: 16px;
  font-weight: 700px;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: left;
  margin: 24px 0px;
  text-decoration: underline;
  background-color: transparent;
}
.btn-target-item a{
  color: rgb(13, 19, 33);
  text-decoration: none;
}
/* news-letter styles */
.news-letter{
  background-image: url("../assets/handshake.jpg"), radial-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53));
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  background-blend-mode: overlay;
  max-width: 1140;
  max-height: 442px;
  border-radius: 16px;
 
}

.news-letter-content{
  padding: 64px 48px;
  margin: 24px 0px;
}
.news-letter-title{
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0%;
  margin: 24px 0px;
}
.news-letter-subtitle{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 27px;
  opacity: 0.7;
  margin: 16px 0px;
  padding: 0px 100px;
}
.form{
  margin: 100px 0px;
}
.input{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0px 16px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15) ;
  border-radius: 8px;
  width: 50%;

}
.submit{
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15) ;
  border-radius: 8px;
}