.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }